.section__aboutme {
    @media (min-width:640px) {
        background-image: url("../../../assets/images/bg-pattern1.png");
        background-size: cover;
    }
    // background-repeat: no-repeat;
    // background-position: 50%;
    // background-position: bottom;

    padding: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (min-width:640px) {
        min-height: 100vh;
        padding: 0;
    }

    .wrapper__aboutme {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 20px 30px;
        @media (min-width:640px) {
            grid-template-columns: 50% 50%;

        }

        .content-aboutme {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .title-content {
                font-size: 27px;
                color: #333d47;
                font-weight: 900;
                margin-top: 0;
                margin-bottom: 15px;
                @media (min-width:640px) {
                    font-size: 50px;
                }
                span {
                    color: #c03f94;
                }
            }

            .desc-content {
                // color: #333d47e7;
                font-size: 18px;
                display: block;
                line-height: 1.4;
                @media (min-width:1024px) {
                    padding-right: 28px;
                }
                @media (min-width:640px) {
                    font-size: 20px;
                }

            }

            .wrapper__button {
                padding-top: 20px;
                width: 100%;
                display:flex;
                align-items: center;

                @media(max-width:640px){
                    .btn--primary {
                        width: 100%;
                    }
                    .btn--secondary {
                        width: 100%;
                    }
                }
        
            }

        }

        .image-aboutme {
            position: relative;
            padding-top: 20px;
            @media(min-width:640px){
                padding-top: unset;
            }
            img {
                // display: none;
                padding: 15px 0;
                margin: auto;
                @media (min-width:640px) {
                    // display: block;
                    padding: unset;
                }
            }

            .wrapper__item {
                .box__item {
                    display: flex;
                    background-color: #fff;
                    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), -4px 7px 5px 5px rgba(0, 0, 0, .01);
                    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
                    padding: 10px 20px;
                    position: absolute;
                    border-top-left-radius: 15px ;
                    border-bottom-right-radius: 15px ;

                    .desc {
                        padding-left: 10px;
                        display: flex;
                        margin: 0;
                        font-weight: 800;
                        font-size: 16px;
                        align-items: center;
                    }
                }

                .box__item:nth-child(1) {
                    top: 90px;
                    left: 80px;
                }
                .box__item:nth-child(2) {
                    top: 165px;
                    left: 50px;
                }
                .box__item:nth-child(3) {
                    top: 240px;
                    left: 20px;
                }
            }

        }
    }
}
