<section id="aboutme" class="section__aboutme">
    <div class="wrapper__aboutme app-container">
        <div class="content-aboutme">
            <h1 class="title-content"> <span> Ma'rifatussalaam </span> <br> Quranic Boarding School</h1>
            <span class="desc-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus vitae ipsam tempore explicabo, assumenda et, illo eum laudantium blanditiis quia animi, ab voluptatum officiis qui earum cupiditate eius omnis soluta optio ut totam! Perspiciatis, sunt esse. Magnam, pariatur deleniti quia molestiae repellendus magni laborum velit.</span>
        </div>
        <div class="image-aboutme">
            <img src="http://loreup.id/src-2.0/img/hero-section.png" alt="image-aboutme">
        </div>
    </div>
    </section>