<section id="aboutme" class="section__aboutme">
    <div class="wrapper__aboutme app-container">
        <div class="content-aboutme">
            <h1 class="title-content"> <span> Ma'rifatussalaam </span> <br> Quranic Boarding School</h1>
            <span class="desc-content"><strong>Saatnya menentukan sekolah yang tepat bagi putra-putri tercinta.</strong> Ma'rifatussalaam Qur'anic Boarding School memiliki kurikulum khas yang diranacang dan dipersiapkan oleh tenaga pendidik dan kependidikan bermutu dan berpengalaman untuk kebutuhan jenjang pendidikan menengah, sehingga dapat berkontribusi dalam mempersiapkan generasi yang tangguh di masa depan.</span>
        </div>
        <div class="image-aboutme">
            <!-- <img class="img-fluid" src="../../../assets/images/IMG_607422.png" alt="image-aboutme"> -->
            <!-- <img class="img-fluid" src="../../../assets/images/amuadz1.png" alt="image-fasilitas"> -->
            <img class="img-fluid" src="../../../assets/images/akhwat5.png" alt="image-fasilitas">
        </div>
    </div>
    </section>