.section__aboutme {
    // background-image: url("../../../assets/images/bg-section-post.png");
    // background-repeat: no-repeat;
    // background-size: auto;
    // background-position: 50%;
    padding: 20px 0px;
    @media (min-width:640px) {
        min-height: 100vh;
        padding: 0px;
    }

    .wrapper__aboutme {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 20px 30px;
        @media (min-width:640px) {
            grid-template-columns: auto auto;

        }

        .content-aboutme {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .title-content {
                font-size: 27px;
                color: #333d47;
                font-weight: 900;
                margin-top: 0;
                margin-bottom: 30px;
                @media (min-width:640px) {
                    font-size: 50px;
                }

                span {
                    color: #c03f94;
                }
            }

            .desc-content {
                // color: #333d47e7;
                font-size: 18px;
                display: block;
                line-height: 1.4;
                @media (min-width:1024px) {
                    padding-right: 28px;
                }
                @media (min-width:640px) {
                    font-size: 20px;
                }

            }

        }

        .image-aboutme {
            img {
                display: none;
                padding-top: 13px;
                @media (min-width:640px) {
                    display: block;
                }
            }
        }
    }
}
