<section id="aboutme" class="section__aboutme">
    <div class="wrapper__aboutme app-container">
        <div class="content-aboutme">
            <h1 class="title-content">
                <span>
                    Ma'rifatussalaam
                </span>
                <br>
                    Quranic Boarding School</h1>
                <span class="desc-content">
                    <strong>Saatnya menentukan sekolah yang tepat bagi putra-putri tercinta.</strong>
                    Ma'rifatussalaam Qur'anic Boarding School memiliki kurikulum khas yang
                    diranacang dan dipersiapkan oleh tenaga pendidik dan kependidikan bermutu dan
                    berpengalaman untuk kebutuhan jenjang pendidikan menengah, sehingga dapat
                    berkontribusi dalam mempersiapkan generasi yang tangguh di masa depan.</span>
                    <div class="wrapper__button">
                        <a routerLink="/register" routerLinkActive="active" class="btn--primary">Daftar Sekarang</a> 
                        &nbsp;|&nbsp;
                        <a routerLink="/login" routerLinkActive="active" class="btn--secondary">Login</a>
                    </div>
            </div>
            <div class="image-aboutme">
                <!-- <img class="img-fluid" src="../../../assets/images/IMG_607422.png" alt="image-aboutme"> -->
                <!-- <img class="img-fluid" src="../../../assets/images/amuadz1.png" alt="image-fasilitas"> -->
                <img
                    class="img-fluid"
                    src="../../../assets/images/akhwat5.png"
                    alt="image-fasilitas">
                    <!-- <div class="wrapper__item">
                        <div class="box__item">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                version="1.0"
                                width="25px"
                                height="25px"
                                viewBox="0 0 64.000000 64.000000"
                                preserveAspectRatio="xMidYMid meet">

                                <g
                                    transform="translate(0.000000,64.000000) scale(0.100000,-0.100000)"
                                    fill="#000000"
                                    stroke="none">
                                    <path
                                        d="M255 626 c-61 -19 -96 -40 -138 -83 -75 -74 -107 -180 -87 -280 17 -79 40 -121 97 -174 56 -52 141 -89 207 -89 81 0 172 36 228 90 29 28 49 52 47 55 -3 3 -25 -5 -50 -17 -122 -61 -286 -1 -345 127 -41 87 -25 203 38 279 31 38 114 85 153 87 l20 0 -20 9 c-29 13 -104 11 -150 -4z"/>
                                    <path
                                        d="M482 555 c-8 -16 -23 -28 -42 -31 -35 -8 -37 -14 -9 -40 16 -14 19 -25 14 -52 -6 -34 -6 -34 22 -28 35 8 41 8 75 0 26 -6 27 -5 22 28 -5 26 -1 38 15 52 28 26 27 32 -9 40 -19 3 -34 15 -42 31 -6 14 -17 25 -23 25 -6 0 -17 -11 -23 -25z"/>
                                    <path
                                        d="M421 292 c-6 -11 -22 -23 -37 -26 -24 -6 -25 -8 -10 -25 9 -10 16 -30 16 -45 0 -23 2 -25 19 -16 14 7 28 7 46 0 26 -10 27 -9 21 16 -5 18 -2 32 10 45 11 12 13 19 5 19 -7 0 -23 12 -36 26 -23 24 -24 25 -34 6z"/>
                                </g>
                            </svg>
                            <p class="desc">INTELEKTUAL</p>
                        </div>
                        <div class="box__item">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                version="1.0"
                                width="25px"
                                height="25px"
                                viewBox="0 0 64.000000 64.000000"
                                preserveAspectRatio="xMidYMid meet">

                                <g
                                    transform="translate(0.000000,64.000000) scale(0.100000,-0.100000)"
                                    fill="#000000"
                                    stroke="none">
                                    <path
                                        d="M255 626 c-61 -19 -96 -40 -138 -83 -75 -74 -107 -180 -87 -280 17 -79 40 -121 97 -174 56 -52 141 -89 207 -89 81 0 172 36 228 90 29 28 49 52 47 55 -3 3 -25 -5 -50 -17 -122 -61 -286 -1 -345 127 -41 87 -25 203 38 279 31 38 114 85 153 87 l20 0 -20 9 c-29 13 -104 11 -150 -4z"/>
                                    <path
                                        d="M482 555 c-8 -16 -23 -28 -42 -31 -35 -8 -37 -14 -9 -40 16 -14 19 -25 14 -52 -6 -34 -6 -34 22 -28 35 8 41 8 75 0 26 -6 27 -5 22 28 -5 26 -1 38 15 52 28 26 27 32 -9 40 -19 3 -34 15 -42 31 -6 14 -17 25 -23 25 -6 0 -17 -11 -23 -25z"/>
                                    <path
                                        d="M421 292 c-6 -11 -22 -23 -37 -26 -24 -6 -25 -8 -10 -25 9 -10 16 -30 16 -45 0 -23 2 -25 19 -16 14 7 28 7 46 0 26 -10 27 -9 21 16 -5 18 -2 32 10 45 11 12 13 19 5 19 -7 0 -23 12 -36 26 -23 24 -24 25 -34 6z"/>
                                </g>
                            </svg>
                            <p class="desc">INTELEKTUAL</p>
                        </div>
                        <div class="box__item">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                version="1.0"
                                width="25px"
                                height="25px"
                                viewBox="0 0 64.000000 64.000000"
                                preserveAspectRatio="xMidYMid meet">

                                <g
                                    transform="translate(0.000000,64.000000) scale(0.100000,-0.100000)"
                                    fill="#000000"
                                    stroke="none">
                                    <path
                                        d="M255 626 c-61 -19 -96 -40 -138 -83 -75 -74 -107 -180 -87 -280 17 -79 40 -121 97 -174 56 -52 141 -89 207 -89 81 0 172 36 228 90 29 28 49 52 47 55 -3 3 -25 -5 -50 -17 -122 -61 -286 -1 -345 127 -41 87 -25 203 38 279 31 38 114 85 153 87 l20 0 -20 9 c-29 13 -104 11 -150 -4z"/>
                                    <path
                                        d="M482 555 c-8 -16 -23 -28 -42 -31 -35 -8 -37 -14 -9 -40 16 -14 19 -25 14 -52 -6 -34 -6 -34 22 -28 35 8 41 8 75 0 26 -6 27 -5 22 28 -5 26 -1 38 15 52 28 26 27 32 -9 40 -19 3 -34 15 -42 31 -6 14 -17 25 -23 25 -6 0 -17 -11 -23 -25z"/>
                                    <path
                                        d="M421 292 c-6 -11 -22 -23 -37 -26 -24 -6 -25 -8 -10 -25 9 -10 16 -30 16 -45 0 -23 2 -25 19 -16 14 7 28 7 46 0 26 -10 27 -9 21 16 -5 18 -2 32 10 45 11 12 13 19 5 19 -7 0 -23 12 -36 26 -23 24 -24 25 -34 6z"/>
                                </g>
                            </svg>
                            <p class="desc">INTELEKTUAL</p>
                        </div>
                    </div> -->
                </div>
            </div>
        </section>