<nav class="navbar navbar-fixed" id="navbar">
    <div class="app-container navbar-container">
        <a href="index.html" class="brand">
            <img
                class="brand__logo brand__logo--aia"
                src="../../../assets/images/logo_psb.png"
                alt="PSB - Logo"/>
        </a>
        <div class="navbar__navs">
            <ul class="nav">
                <li class="nav__item is-active">
                    <a (click)="scrollToAboutMe()" class="nav__link">
                        #TentangKami
                    </a>
                </li>
                <li class="nav__item is-active">
                    <a (click)="scrollToFasilitas()"  class="nav__link">
                        Fasilitas
                    </a>
                </li>
                <li class="nav__item is-active">
                    <a href="#" class="nav__link">
                        Keunggulan
                    </a>
                </li>
            </ul>
            <a href="#" class="btn btn--primary">
                Daftar Sekarang
            </a>
        </div>
    </div>
</nav>