.section__excellence {
    padding-bottom: 50px;
    background-image: url('../../../assets/images/bg-circle1.png');
    background-repeat: no-repeat;
    background-size: cover;

    .app-container {
        overflow: hidden;

        .swiper-container {
            overflow: visible;
            @media(min-width:640px) {
                overflow: hidden;
            }

           
        }
    }

    

  

    &--title {
        font-size: 27px;
        color: #333d47;
        font-weight: 900;
        margin-top: 0;
        margin-bottom: 15px;
        @media (min-width:640px) {
            font-size: 50px;
            margin-bottom: 50px;
        }
        span {
            color: #c03f94;
            @media (min-width:640px) {
                // font-size: 30px;
            }
        }
    }

    .wrapper__content {
        .swiper-slide {
            width: 80%;
        }
        // display: grid;
        // grid-template-columns: auto;
        // grid-gap: 20px;

        // @media (min-width:640px) {
        //     grid-template-columns: auto auto;
        // }
        // @media (min-width:964px) {
        //     grid-template-columns: auto auto auto auto;
        //     grid-gap: 40px;
        // }
        .box__content {
            min-height: 350px;
            border-radius: 10px;
            border: 1px solid #e8e8e8;
            background-color: #fff;
            padding: 20px;
            transition: all 0.3s ease-in-out;
            &:hover {
                // background-color: #e8e8e8;
                // transform: translateY(-20px);
            }

            .title {
                font-weight: 700;
            }
            .desc {
                line-height: 22px;
                font-size: 16px;
                letter-spacing: 0.4px;
            }
        }
    }
}
