.section__partner {
    padding-top: 20px;
    padding-bottom: 50px;
    @media(min-width:640px) {
        padding-top: 30px;
        padding-bottom: 80px;
    }
    overflow: hidden;

    .swiper-container {
        overflow: visible;
    }
    .wrapper__partner {
        // display: flex;
        // justify-content: space-between;
        // flex-wrap: wrap;
        
    }
    &--title {
        font-size: 27px;
        color: #333d47;
        font-weight: 900;
        margin-top: 0;
        margin-bottom: 25px;
        @media (min-width:640px) {
            font-size: 50px;
            margin-bottom: 50px;
        }
        span {
            color: #c03f94;
            @media (min-width:640px) {
                // font-size: 30px;
            }
        }
    }

    .wrapper__content {
        .box__partner {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 120px;
            border-radius: 10px;
            border: 1px solid #e8e8e8;
            transition: all 0.3s ease-in-out;

            // background-color: #fff;
            filter: grayscale(1);
                &:hover {
                    filter: unset;
                }

           
        }
    }
}