<section class="section__partner">
  <div class="app-container">
    <div class="wrapper__partner">

      <h1 class="section__partner--title">
        <span>Partner</span> Kami
      </h1>

      <div class="wrapper__content">
        <swiper [config]="swiperConfigPartner">

          <ng-template swiperSlide>
            <div class="box__partner">
              <img src="https://orvyn.segeralive.com/img/honda.png" alt="partner">
            </div>
          </ng-template>
          <ng-template swiperSlide>
            <div class="box__partner">
              <img src="https://orvyn.segeralive.com/img/aqua.png" alt="partner">
            </div>
          </ng-template>
          <ng-template swiperSlide>
            <div class="box__partner">
              <img src="https://orvyn.segeralive.com/img/google-duo.png" alt="partner">
            </div>
          </ng-template>
          <ng-template swiperSlide>
            <div class="box__partner">
              <img src="https://orvyn.segeralive.com/img/suzuki.png" alt="partner">
            </div>
          </ng-template>
          <ng-template swiperSlide>
            <div class="box__partner">
              <img src="https://orvyn.segeralive.com/img/honda.png" alt="partner">
            </div>
          </ng-template>

        </swiper>
      </div>
    </div>
  </div>

</section>
