[multiple]:focus, [type=date]:focus, [type=email]:focus, [type=month]:focus, [type=number]:focus, [type=password]:focus, [type=search]:focus, [type=tel]:focus, [type=text]:focus, [type=time]:focus, [type=url]:focus, [type=week]:focus, select:focus, textarea:focus {
    outline: transparent solid 2px;
    outline-offset: 2px;
    --tw-ring-inset: var(--tw-empty, );
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #2563eb;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow,0 0 transparent);
    border-color: #2563eb;
}

.form--psb {
    border: 1px solid #e5e7eb;
    outline: none; 
    font-size: 13px;
    border-radius: .375rem;
    display: block;
    padding: 15px;
    width: 100%;
    font-size: 13px;
    letter-spacing: .8px;
    background: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:focus {
        border-color: #c03f94 ;
        --tw-ring-color: #c03f94;
    }
    
    &:focus-visible {
        border-color: #c03f94 ;
        
    }

    &.active {
        border:1px solid red;
        outline: red auto 1px;
    }
}

.form--label {
    display: block;
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.form-group {
    margin-bottom: 25px;
}

