<main>
    <div class="section__register">
        <div class="app-container">
            <div class="wrapper__register">
                <div class="image__register">
                    <img src="../../../assets/images/akhwat3.png" class="img-fluid" alt="img">
                </div>
                <div class="box__register">
                    <h1 class="title">Pendaftaran <span> Santri  </span></h1>
                    <div class="wrapper__input">
                        <div class="wrapper__input--left">
                            <div class="form-group">
                                <label class="form--label">Nama Lengkap</label>
                                <input class="form--psb" type="text" placeholder="Masukan Nama Lengkap">
                            </div>
                           
                            <div class="form-group">
                                <label class="form--label">Email</label>
                                <input class="form--psb" type="text" placeholder="Masukan Email">
                            </div>
                            <div class="form-group">
                                <label class="form--label">Password</label>
                                <input class="form--psb" type="password" placeholder="Masukan Password">
                            </div>
                            <div class="form-group">
                                <label class="form--label">Ulangi Password</label>
                                <input class="form--psb" type="password" placeholder="Masukan Kembali Password">
                            </div>
                            
                        </div>
                        <div class="wrapper__input--right">
                            <div class="form-group">
                                <label class="form--label">Nomor Telepon</label>
                                <input class="form--psb" type="text" placeholder="Masukan Nomor Telepon">
                            </div>
                            
                            <div class="form-group">
                                <label class="form--label">Jenis Kelamin</label>
                                <select class="form--psb">
                                    <option selected>Laki-Laki</option>
                                    <option value="reguler">Perempuan</option>
                                  </select>
                            </div>
                            
                            <div class="form-group">
                                <label class="form--label">Jalur Seleksi</label>
                                <select class="form--psb">
                                    <option selected>Jalur Seleksi</option>
                                    <option value="reguler">Reguler</option>
                                    <option value="prestasi">Prestasi</option>
                                    <option value="inden" >Inden</option>
                                  </select>
                            </div>

                            <div class="form-group">
                                <label class="form--label">Informasi Ma'rifatusssalaam?</label>
                                <select id="jalur-seleksi" class="form--psb">
                                    <option selected>Facebook</option>
                                    <option value="assyifa">Assyifa</option>
                                    <option value="reguler">Instagram</option>
                                    <option value="prestasi">Website</option>
                                    <option value="inden" >Lainnya</option>
                                  </select>
                            </div>
                        </div>
                    </div>
                   
                   
                    <div class="wrapper__btn">
                        <span>Sudah memiliki akun? <a routerLink="/login" routerLinkActive="active" class="link"> Login</a></span>
                        <a href="#" class="btn--primary"> Daftar Sekarang </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>