.section__jalurseleksi {
    background-image: url("../../../assets/images/bg-pattern1.png");
    background-size: cover;
    background-color: #fafafa;

    .wrapper__jalurseleksi {
        padding: 80px 0;
     

        &--card {

            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        // background-color: rgba($color: #fafafa, $alpha: 1);

        }

        .card-seleksi {
            margin: 20px 0;
            @media(min-width:640px) {
                margin: unset;
            }
            width: 300px;
            height: 350px;
            border-radius: 6px;
            background: #fbfbfb;
            position: relative;
            border: 1px solid #e8e8e8;
            .icon {
                position: absolute;
                top: -18px;
                background-color: #c03f94;
                right: 70px;
                height: 54px;
                color: #fff;
                padding: 0 15px;
                border-radius: 80px;
                vertical-align: middle;
                display: flex;
                justify-content: center;
                align-items: center;

                svg {
                    padding-right: 7px;
                }

            }
            
            
        }

        .card-seleksi:nth-child(2) {
            .icon {
                background-color: #f7991e;
            }
        }
        // position: relative;
        // width: 100%;
        // height: 100%;
        // background-color: rgba($color: #fff, $alpha: .4);
    }
}
