<div class="section__jalurseleksi">
    <div class="wrapper__jalurseleksi">
        <div class="app-container">
        <!-- <h1 class="title-content">
            Jalur Seleksi
        </h1> -->
        <div class="wrapper__jalurseleksi--card">
            <div class="card-seleksi">
                <a href="#" class="btn btn--primary">Daftar Reguler</a>
            </div>
            <div class="card-seleksi">
                <a href="#" class="btn btn--primary">Daftar Prestasi</a>
            </div>
        </div>
    </div>
    </div>
</div>