<section id="fasilitas" class="section__fasilitas">
    <div class="wrapper__fasilitas app-container">
        <div class="image-fasilitas">
            <img class="img-fluid" src="../../../assets/images/akhwat3.png" alt="image-fasilitas">
        </div>
        <div class="content-fasilitas">
            <h1 class="title-content"> <span> Fasilitas </span> <br> Ma'rifatussalaam</h1>
            <div class="list__fasilitas">
                <div class="title-fasilitas">
                    <img src="http://loreup.id/src-2.0/img/icon/discussion.svg" alt="">
                    <h1> Asrama </h1>
                </div>
                <span class="desc-fasilitas"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi, corrupti provident quos ratione ad molestias repellendus quasi distinctio! Impedit, fugiat.</span>
            </div>
            <div class="list__fasilitas">
                <div class="title-fasilitas">
                    <img src="http://loreup.id/src-2.0/img/icon/roadmap.svg" alt="">
                    <h1> Mesjid </h1>
                </div>
                <span class="desc-fasilitas"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi, corrupti provident quos ratione ad molestias repellendus quasi distinctio! Impedit, fugiat.</span>
            </div>
            <div class="list__fasilitas">
                <div class="title-fasilitas">
                    <img src="http://loreup.id/src-2.0/img/icon/love.svg" alt="">
                    <h1> Kelas </h1>
                </div>
                <span class="desc-fasilitas"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi, corrupti provident quos ratione ad molestias repellendus quasi distinctio! Impedit, fugiat.</span>
            </div>
        </div>
    </div>
    
</section>