.section__fasilitas {
    // background-image: url("../../../assets/images/bg-section-post.png");
    // background-repeat: no-repeat;
    // background-size: auto;
    // background-position: 50%;
    min-height: 100vh;

    .wrapper__fasilitas {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 20px 120px;
        @media (min-width:640px) {
            grid-template-columns: auto auto;

        }

        .content-fasilitas {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .title-content {
                font-size: 50px;
                color: #333d47;
                font-weight: 900;
                margin-top: 0;
                margin-bottom: 30px;

                span {
                    color: #c03f94;
                }
            }

            .list__fasilitas {
                margin-bottom: 20px;
                background: #fff;
                padding-left: 20px;
                padding-right: 5px;
                padding-top: 10px;
                padding-bottom: 20px;
                border-top-right-radius: 20px;
                border-bottom-left-radius: 20px;
                .title-fasilitas {
                    display: flex;
                    img {
                        max-width: 50px;
                        padding-right: 18px;
                    }
                    
                }
                .desc-fasilitas {
                    font-size: 18px;
                    line-height: 1.4;
                    display: block;
                    padding-left: 70px;
                }
            }

        }

        .image-fasilitas {
            img {
                padding-top: 13px;
            }
        }
    }
}
